@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GT';
    src: url('/fonts/gt-regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

html {
  @apply font-heading
}

body {
  @apply relative;
  @apply w-full;
}

main {
  @apply m-auto;
  @apply mt-48;
  @apply p-4;
  @apply w-3/5;
  @apply text-xl;
  @apply max-w-7xl;
}

h1 {
  @apply text-9xl;
  @apply font-black;
  @apply leading-none;
  @apply text-center;
  @apply mb-4;
  @apply text-primary;
}

p {
  @apply text-primary;
  @apply text-base;
}

[data-is-top='false'] .navbar {
  @apply bg-secondary;
  @apply dark:bg-secondary-dark;
  @apply bg-opacity-80;
}
