---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
---

<Layout title="Matt Newhall • Developer">
	<Navbar />
	<main>
		<h1>Hi.<br>I'm Matt.</h1>
	</main>
</Layout>