---
import NavOption from "./NavOption.astro";
---

<nav class="flex w-screen justify-center align-center text-center sticky top-8">
  <div class="navbar w-max px-12 pt-4 pb-3 rounded-full">
    <ul class="inline-block">
      <li class="float-left">
        <NavOption name="About" />
      </li>
      <li class="float-left mx-16">
        <NavOption name="Work" />
      </li>
      <li class="float-left">
        <NavOption name="Contact" />
      </li>
    </ul>
  </div>
</nav>