---
import NavOption from "../NavOption/NavOption.astro";
---

<nav class="transition-colors flex w-screen justify-center align-center text-center sticky top-8">
  <div class="navbar w-max px-12 pt-4 pb-3 rounded-full transition-colors duration-500 ease-out">
    <ul class="inline-block">
      <a href='#about'><li class="float-left mx-8">
        <NavOption name="About" />
      </li></a>
      <a href='#work'><li class="float-left mx-8">
        <NavOption name="Work" />
      </li></a>
      <a href='#contact'><li class="float-left mx-8">
        <NavOption name="Contact" />
      </li></a>
    </ul>
  </div>
</nav>